body{
    background-color: chocolate;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    color: peachpuff;
}
.pokemon{
    display: inline-block;
    text-align: center;
    color: peachpuff;
}

.pokemon img{
    display: block;
}